/* <a href="#" class="float bg-danger">
    <i class="fa fa-arrow-left my-float"></i>
</a> */

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    color:#FFF;
    background-color: #C62828;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}